.container.forum-card-container
  padding-left:25px
  padding-right:25px
  padding-bottom: 68px
  .forum-slider-wrapper
    .forum-slider-title
      text-align: center
      font-size: 18px
      font-weight: 400
      color: #000
      margin-bottom: 2em
  .btn-mobile
    display: none
    @media (max-width: 780px)
      width: 100%
      display: flex
      justify-content: center
      .btn.btn-link
        color: white !important
        background-color: #648d6d !important
        text-decoration: none !important

@import '../forum-card/styles.styl'