#topics-wrapper .topics-admin
  .btn-success
    background-color: #EAB266
  .btn-group
    .btn-primary
      background-color: #5F916A
      &:hover, &:focus
          background-color: #476F50
  .export-update
    .btn.btn-primary
      background-color: #5F916A
      &:hover, &:focus
        background-color: #476F50

  .list-group-item
    &:hover
      color: #fff

    .topic-title
      font-weight: inherit

    .delete-topic
      color: #D9534F
