.topic-card
  cursor: pointer

.flickity-prev-next-button
  fill: #4B7254
  path.arrow 
    fill: #4B7254
  &:disabled
    fill: #4B7254
button.flickity-prev-next-button
  background: transparent 
  width: 55px
  height: 55px
  &:hover
    background: transparent


@import './topic-card/styles'

